<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>iyzipay</name>
    <displayName><![CDATA[iyzico Checkout Form Module]]></displayName>
    <version><![CDATA[1.1.2]]></version>
    <description><![CDATA[iyzico Checkout Form Module for PrestaShop]]></description>
    <author><![CDATA[iyzipay]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <confirmUninstall><![CDATA[are you sure ?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>